<div class="container">
  <h3 class="contact-form">Bei Fragen kontaktieren Sie mich bitte:</h3>
  
  <div class="#">
    <%= form_tag("/static/thank_you") do %>
      <div class="form-group">
        <%= label_tag :name, "Name", class: "col-sm-2 control-label"  %>
        <%= text_field_tag :name, nil, class: "form-control" %>
      </div><!-- end .form-group --> 
      <div class="form-group">
        <%= label_tag :email, "E-Mail-Addresse", class: "col-sm-2 control-label"  %>
        <%= text_field_tag :email, nil, class: "form-control", required: "required"%>
      </div><!-- end .form-group --> 
      <div class="form-group">
        <%= label_tag :message, "Nachricht", class: "col-sm-2 control-label"  %>
        <%= text_area_tag :message, nil, class: "form-control" %>
      </div><!-- end .form-group --> 
      <div class="form-group">
        <%= submit_tag "Senden", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>