<%= form_for @kontoumsaetze, class: "form-horizontal" do |f| %>
  
<!--   <#% if kontoumsaetze.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(kontoumsaetze.errors.count, "error") %> prohibited this kontoumsaetze from being saved:</h2>

      <ul>
      <#% kontoumsaetze.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <#% end %>
      </ul>
    </div>
  <#% end %> -->

  <% if @kontoumsaetze.errors.any? %>
    <% @kontoumsaetze.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Sudetenlandweg 1010a", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= collection_select( :kontoumsaetze, :user_id, User.all, :id, :last_name, {}, { :multiple => false } ) %>
  </div>

  <div class="form-group">
    <%= f.label :weg, class: "col-sm-2 control-label" %>
    <%= f.number_field :weg, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :wertstellung, class: "col-sm-2 control-label" %>
    <%= f.text_field :wertstellung, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :umsatzart, class: "col-sm-2 control-label" %>
    <%= f.text_field :umsatzart, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :buchungsdetails, class: "col-sm-2 control-label" %>
    <%= f.text_field :buchungsdetails, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :auftraggeber, class: "col-sm-2 control-label" %>
    <%= f.text_field :auftraggeber, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :empfaenger, class: "col-sm-2 control-label" %>
    <%= f.text_field :empfaenger, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :betrag, class: "col-sm-2 control-label" %>
    <%= f.text_field :betrag, :step => 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :saldo, class: "col-sm-2 control-label" %>
    <%= f.text_field :saldo, :step => 0.01, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'Speichern', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>