<tr>
  <td><%= kontoumsaetze.user.full_name %></td>
  <td><%= kontoumsaetze.weg %></td>
  <td><%= kontoumsaetze.wertstellung %></td>
  <td><%= kontoumsaetze.umsatzart %></td>
  <td><%= kontoumsaetze.buchungsdetails.truncate(15) %></td>
  <td><%= kontoumsaetze.auftraggeber.truncate(15) %></td>
  <td><%= kontoumsaetze.empfaenger.truncate(15) %></td>
  <td><%= number_to_currency(kontoumsaetze.betrag, :unit=>'€') %></td>
  <td><%= number_to_currency(kontoumsaetze.saldo, :unit=>'€') %></td>

  <% if current_user.try(:type) == 'AdminUser' %>
    <td><%= link_to 'Zeigen', kontoumsaetze %></td>
    <td><%= link_to 'Bearbeiten', edit_kontoumsaetze_path(kontoumsaetze), id: "edit_#{kontoumsaetze.id}" %></td>
    <td><%= link_to 'Löschen', kontoumsaetze_path(kontoumsaetze), id: "delete_kontoumsaetze_#{kontoumsaetze.id}_from_index", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>