<div style="padding-top: 50px;">
  <table class="table table-striped table-hover table-details">
    <thead>
      <tr>
        <th>Weg</th>
        <th>Wertstellung</th>
        <th>Umsatzart</th>
        <th>Buchungsdetails</th>
        <th>Auftraggeber</th>
        <th>Empfänger</th>
        <th>Betrag</th>
        <th>Saldo</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody> 
      <%= render @kontoumsaetzes %>
    </tbody>
  </table>

  <% if current_user.try(:type) == 'AdminUser' %>
    <%= link_to "Export", kontoumsaetzes_path(format: "xlsx"), style: "float: right;" %>

    <%= form_tag import_kontoumsaetzes_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import Datei", class: 'btn btn-primary', style: "margin-top: 5px;" %>
    <% end %>

  <% end %>
</div>